@mixin focus-color {
  &:focus {
    color: $focus-color !important;
    outline: 0;
  }
}

@mixin focus-border {
  &:focus {
    border: 1px solid $focus-color;
  }
}

@mixin focus-outline {
  &:focus {
    outline: 1px solid $focus-color;
  }
}

@mixin focus-shadow {
  &:focus {
    border-color: $focus-color;
    outline: 0;
    box-shadow: 0 0 0px 1px $focus-color;
  }
}

@mixin focus-background {
  background-color: $focus-color;
}
