.form {
  &__input,
  &__label {
    display: block;
    width: 100%;
  }

  &__input {
    @include focus-outline-primary;

    margin-top: 1.6em;
    padding: 0.25em 0.5em;
    font-size: 1em;
    font-family: $font-family-base;
    border: 1px solid $grey;
  }

  &__label {
    position: absolute;
    top: 0.25em;
    padding: 0 0.5em;
    color: $white;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 200ms ease;

    &.required::after {
      content: '*';
    }
  }

  &__row {
    position: relative;

    &--has-value,
    &:focus-within {
      .form__label {
        margin-top: -1.75em;
        padding-left: 0;
        color: $grey;
        font-size: 0.75em;
      }
    }
  }

  &__submit {
    margin-top: 1em;
  }

  &__error {
    margin: 0.5em 0.5em 0;
    color: $danger;
    font-size: 0.75em;
  }
}
