button {
  @include focus-outline-primary;
  @include responsive-font-size(
    $min-viewport-width,
    $max-viewport-width,
    $min-font-size,
    $max-font-size
  );

  padding: 0.5em 1em;
  background-color: $white;
  border: 1px solid $darkgrey;
  border-radius: 0.25em;
  color: $darkgrey;
  font-family: $font-family-base;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: pointer;

  &[disabled] {
    position: relative;
    pointer-events: none;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($black, 0.25);
    }
  }

  .theme--dark & {
    background-color: transparent;
    border: 1px solid $lightgrey;
    color: $white;
  }

  &:hover {
    background-color: $darkgrey;
    color: $white;
    text-decoration: none;

    .theme--dark & {
      background-color: $lightgrey;
      color: $darkgrey;
    }
  }
}

.button {
  @extend button;

  &--is-loading {
    pointer-events: none;

    @keyframes loader {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 1.5em;
      height: 1.5em;
      padding: 0;
      border-radius: 50%;
      border: 5px solid $darkgrey;
      border-color: $darkgrey transparent;
      animation: loader 1.2s linear infinite;
    }
  }

  &--success {
    background-color: $white;
    border: 1px solid $success;
    color: $success;

    &:hover {
      background-color: $success;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $success;
      border-color: $success transparent;
    }
  }

  &--info {
    background-color: $white;
    border: 1px solid $info;
    color: $info;

    &:hover {
      background-color: $info;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $info;
      border-color: $info transparent;
    }
  }

  &--warning {
    background-color: $white;
    border: 1px solid $warning;
    color: $warning;

    &:hover {
      background-color: $warning;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $warning;
      border-color: $warning transparent;
    }
  }

  &--error {
    background-color: $white;
    border: 1px solid $error;
    color: $error;

    &:hover {
      background-color: $error;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $error;
      border-color: $error transparent;
    }
  }

  &--normalized {
    padding: 0;
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: transparent;
      color: $darkgrey;
    }
  }

  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 80%;
      height: 3px;
      background-color: $darkgrey;
      transition: background-color 300ms ease;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        background-color: $white;
      }
    }
  }
}
