button {
  @include focus-outline-primary;
  @include responsive-font-size(
    $min-viewport-width,
    $max-viewport-width,
    $min-font-size,
    $max-font-size
  );

  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.25em;
  background-color: $lightgrey;
  color: $font-color;
  font-family: $font-family-base;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button {
  @extend button;

  &:hover {
    text-decoration: none;
  }

  &--primary {
    @include focus-outline-secondary;

    background-color: $primary;

    &:hover {
      background-color: $primary-hover;
    }
  }

  &--secondary {
    background-color: $secondary;

    &:hover {
      background-color: $secondary-hover;
    }
  }

  &--normalized {
    padding: 0;
    background-color: transparent;
  }

  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 80%;
      height: 3px;
      background-color: rgba($font-color, 0.5);
      transition: background-color 0.3s ease;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        background-color: $font-color;
      }
    }
  }
}
