input,
label {
  display: block;
  width: 100%;
  color: $font-color;
}

input {
  @include focus-outline-primary;

  margin-bottom: 0.75rem;
  padding: 0.25rem;
  font-size: 20px;
  font-family: $font-family-base;
}

label {
  margin-bottom: 0.25rem;
}
