*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @include responsive-font-size(
    $min-viewport-width,
    $max-viewport-width,
    $min-font-size,
    $max-font-size
  );

  margin: 0;
  color: $black;
  font-family: $font-family-base;
}

.no-scroll {
  overflow-y: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  @include focus-outline-primary;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main {
  padding-top: $header-height;
}

.responsive-image {
  display: block;
  width: 100%;
  height: auto;
}
