@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin focus-outline-primary {
  &:focus {
    outline: 1px solid $primary-hover;
  }
}

@mixin focus-outline-secondary {
  &:focus {
    outline: 1px solid $secondary-hover;
  }
}

@mixin focus-border-primary {
  &:focus {
    border: 1px solid $primary-hover;
    outline: 0;
  }
}

@mixin focus-border-secondary {
  &:focus {
    border: 1px solid $secondary-hover;
    outline: 0;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin responsive-font-size($min-viewport-width, $max-viewport-width, $min-font-size, $max-font-size) {
  font-size: $min-font-size;

  @media screen and (min-width: $min-viewport-width) {
    font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-viewport-width}) / #{strip-unit($max-viewport-width - $min-viewport-width)}));
  }

  @media screen and (min-width: $max-viewport-width) {
    font-size: $max-font-size;
  }
}

@mixin chevron {
  &::after {
    position: absolute;
    content: '';
    width: 1em;
    height: 1em;
    transition: border-color 300ms ease;
    border: {
      style: solid;
      width: 0.2em 0.2em 0 0;
      radius: 0.1em;
      color: $white;
    };
  }
}

@mixin chevron-up {
  @include chevron;

  &::after {
    transform: rotate(-45deg);
  }
}

@mixin chevron-down {
  @include chevron;

  &::after {
    transform: rotate(135deg);
  }
}

@mixin chevron-left {
  @include chevron;

  &::after {
    left: 0.5em;
    transform: rotate(-135deg);
  }
}

@mixin chevron-right {
  @include chevron;

  &::after {
    right: 0.5em;
    transform: rotate(45deg);
  }
}

@mixin chevron-down-rotating-default {
  @include chevron-down;

  position: relative;

  &::after {
    pointer-events: none;
    transform: rotate(135deg) scale(0.7);
    transition:
      top 300ms ease,
      border-color 300ms ease,
      transform 300ms ease;
  }
}

@mixin chevron-down-rotating-expanded {
  &::after {
    transform: rotate(315deg) scale(0.7);
  }
}

@mixin checkbox-radio-label {
  position: relative;
  padding: 0;
  top: -0.1em;
  left: 1.5em;
  width: calc(100% - 1.5em);
  color: $white;
  transform: none;
  transition: none;
  pointer-events: all;
  cursor: pointer;
}
