.no-scroll {
  overflow-y: hidden !important;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.responsive-image {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.flex {
  display: flex !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.hide {
  display: none !important;
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: default !important;
}

.mb-1 {
  margin-bottom: 0.25em !important;
}

.mb-2 {
  margin-bottom: 0.5em !important;
}

.mb-3 {
  margin-bottom: 0.75em !important;
}

.mb-4 {
  margin-bottom: 1em !important;
}


