@import 'variables/colors';
@import 'variables/base';
@import 'variables/grid';

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown, no-extra-semicolons */
:export {
  breakpoints: {
    xs: map-get($breakpoints, xs);
    sm: map-get($breakpoints, sm);
    md: map-get($breakpoints, md);
    lg: map-get($breakpoints, lg);
    xl: map-get($breakpoints, xl);
  };
  notificationAnimationTime: $notification-anim-time;
  mainNavigationBreakpoint: map-get($breakpoints, $main-navigation-breakpoint);
};
/* stylelint-enable selector-pseudo-class-no-unknown, property-no-unknown, no-extra-semicolons */
