@import 'dark/button';

.theme--dark {
  input {
    background-color: $darkgrey;
    border: 1px solid $white;
    color: $white;
  }

  .date__input {
    color: $darkgrey;
  }

  .select {
    &--is-disabled {
      .button--clear {
        &::before,
        &::after {
          background-color: darken($grey, 20%);
        }
      }
    }
  }

  .form__row {
    &--has-value,
    &:focus-within {
      .date__input {
        color: $white;
      }
    }
  }

  .checkbox,
  .radio {
    .form__label--is-static {
      &::before,
      &::after {
        background-color: $white;
      }
    }
  }

  .file {
    .button--clear {
      &:focus {
        box-shadow: none;
      }

      &:hover {
        &::before,
        &::after {
          background-color: $darkgrey;
        }
      }
    }

    &:hover {
      .file__path {
        color: $darkgrey;
      }

      .button--clear {
        &::before,
        &::after {
          background-color: $darkgrey;
        }
      }
    }

    &--is-drag-and-drop {
      &:hover .button--clear {
        &::before,
        &::after {
          background-color: $white;
        }
      }

      .button--clear:hover {
        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }
}
