a {
  color: placeholder;
}

.header {
  background-color: placeholder;
}

.fancybox {
  &-thumbs__list a::before {
    border: 6px solid placeholder !important;
  }

  &-progress {
    background-color: placeholder;
  }
}
