.theme--dark .button {
  &:hover {
    background-color: $lightgrey;
    color: $darkgrey;
  }

  &--is-loading::after {
    border: 5px solid $white;
    border-color: $white transparent;
  }

  &--success {
    background-color: $darkgrey;
    border: 1px solid $success;
    color: $success;

    &:hover {
      background-color: $success;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $success;
      border-color: $success transparent;
    }
  }

  &--info {
    background-color: $darkgrey;
    border: 1px solid $info;
    color: $info;

    &:hover {
      background-color: $info;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $info;
      border-color: $info transparent;
    }
  }

  &--warning {
    background-color: $darkgrey;
    border: 1px solid $warning;
    color: $warning;

    &:hover {
      background-color: $warning;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $warning;
      border-color: $warning transparent;
    }
  }

  &--error {
    background-color: $darkgrey;
    border: 1px solid $error;
    color: $error;

    &:hover {
      background-color: $error;
      color: $white;
    }

    &.button--is-loading::after {
      border: 5px solid $error;
      border-color: $error transparent;
    }
  }

  &--normalized {
    border: 0;

    &:hover {
      background-color: transparent;
      color: $white;
    }
  }

  &--close {
    &::before,
    &::after {
      background-color: $white;
    }

    &:hover {
      &::before,
      &::after {
        background-color: $darkgrey;
      }
    }
  }

  &--clear {
    border: 0;
    background-color: transparent;

    &:hover {
      background-color: transparent;

      &::before,
      &::after {
        background-color: $white;
      }
    }
  }
}
