{% extends 'base.html.twig' %}

{% block content %}
  Yo<br>
  <button>Test</button>
  <button class="button">Test</button>
  <a href="#" class="button">Test</a>
  <button class="button--primary">Test</button>
  <button class="button--secondary">Test</button>
  <button class="button--normalized">Test</button>
  <button class="button--close"></button>

  <input type="email" name="esf" value="safsdgs@sfsdf.de">
{% endblock %}
