{% extends 'base.html.twig' %}

{% block content %}
  <button>Test</button>
  <button type="button" class="button">Test</button>
  <a href="#" class="button">Test</a>
  <button type="button" class="button button--success">Test</button>
  <button type="button" class="button button--info">Test</button>
  <button type="button" class="button button--warning">Test</button>
  <button type="button" class="button button--error">Test</button>
  <button type="button" class="button button--normalized">Test</button>

  <div class="alert alert--success">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, molestias.</div>
  <div class="alert alert--info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, molestias.</div>
  <div class="alert alert--warning">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, molestias.</div>
  <div class="alert alert--error">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, molestias.</div>

  {% include 'shared/modal.html.twig' with {
    body_text: 'Lorem ipsum',
  } %}
{% endblock %}
