{% extends 'base.html.twig' %}

{% block title %}{{ page_title('title.login') }}{% endblock %}

{% block content %}
  {% if error %}
    <div class="alert alert--danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

	{{ form(login_form) }}
{% endblock %}
