{%- extends 'base.html.twig' -%}

{%- block title -%}{{- page_title('title.register') -}}{%- endblock -%}

{%- block content -%}
  <div class="grid">
	  <div class="col-12 col-md-6">
	    {{- form(register_form) -}}
    </div>
  </div>
{%- endblock -%}
