.modal {
  position: fixed;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  width: calc(100% - 2em);
  max-width: 768px;
  max-height: 100vh;
  padding: 1em;
  background-color: $white;
  border: 1px solid $darkgrey;
  border-radius: 0.25em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  transform: translate(-50%, -50%);
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 10;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .theme--dark & {
    background-color: $darkgrey;
    border: 1px solid $white;
  }

  &--is-visible {
    opacity: 1;
    pointer-events: all;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
    z-index: 9;

    &--is-visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__header {
    padding-bottom: 1.5em;
    padding-right: 3em;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5em;
  }

  &__decline {
    margin-right: 1em;
  }
}

.upload-images-modal .modal__footer {
  padding: 0;
}
