$white: #ffffff;
$black: #000000;

$lightgrey: #e4e4d4;
$grey: #bebebe;
$darkgrey: #272727;

$red: #da0000;
$green: #00b436;
$blue: #4169e1;

$primary: $blue;

$focus-color: $green;

$success:  #3eaf28;
$info: #219eb4;
$warning: #c86a17;
$error: #dd1731;

$success-dark:  #3b6533;
$info-dark: #286874;
$warning-dark: #785333;
$error-dark: #973b48;
