$white: #ffffff;
$black: #000000;

$lightgrey: #e4e4d4;
$grey: #bebebe;
$darkgrey: #272727;

$red: #da0000;

$primary: #008a29;
$primary-hover: #00b436;

$secondary: #4c008a;
$secondary-hover: #6600b9;

$success:  #3b6533;
$info: #286874;
$warning: #785333;
$error: #973b48;
