<header class="header">
  <div class="container">
    <div class="header__top">
      {%- include 'layout/navigation.html.twig' with {
        key: 'secondary',
      } -%}
    </div>

    <div class="header__bottom">
      <a href="/" class="header__brand" title="{{- 'title.index'|trans -}}">
        <img src="http:///www.placekitten.com/280/60" class="header__logo responsive-image">
      </a>

      {%- apply strip_spaces -%}
        <button
          type="button"
          class="button button--normalized hamburger"
          title="{{- 'navigation.toggle_menu'|trans -}}"
          aria-label="{{- 'navigation.toggle_menu'|trans -}}"
        >
          <span class="hamburger__line hamburger__line--1"></span>
          <span class="hamburger__line hamburger__line--2"></span>
          <span class="hamburger__line hamburger__line--3"></span>
        </button>
      {%- endapply -%}

      {%- include 'layout/navigation.html.twig' with {
        key: 'main',
      } -%}
    </div>
  </div>
</header>
